*{box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.panel-control{
  width: 100%;
  height: 100vh;
  background-image: url('/public/top-view-hands-holding-smartphone.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.panel-control-aside{
  width: 25%;
  height: 100%;
  background-color: #211a86;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.panel-control-aside div{
  width: 270px;
  height: 270px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-control-aside div img{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: solid 1px black;
  
}

.panel-control-aside nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60%;
}

.panel-control-aside nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 70%;
}

.panel-control-aside nav ul li{
  width: 80%;
  height: 50px;
  background-color: white;
}